html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.tabs-root {
  height: 100%;
/*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}

.tabs-content {
  height: 100%;
}

.request-item, .checkout-item, .checkin-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

