{% extends "templates/base.twig" %}

{% block title %} LMS Home {% endblock %}

{% block scripts %}
  <link rel="stylesheet" type="text/css" href="/assets/user/home/home.css">
  <script type="text/javascript" src="/assets/util/util.js"></script>
  <script type="text/javascript" src="/assets/util/tabs.js" defer></script>
  <script type="text/javascript" src="/assets/user/home/components/books.js" defer></script>
  <script type="text/javascript" src="/assets/user/home/home.js" defer></script>
{% endblock %}

{% block body %}
{% verbatim %}
  <div id="root" class="container">
    <button id="logout-button" class="button is-success is-pulled-right" @click="logout">Logout</button>
    <tabs>
      <tab name="Library" v-bind:selected="true">
        <book-items-container ref="bookItemsContainer"></book-items-container>
      </tab>
      <tab name="My Books">
        <issued-book-items-container ref="issuedBookItemsContainer"></issued-book-items-container>
      </tab>
    </tabs>
  </div>
{% endverbatim %}
{% endblock %}